<section class="p-4">
  <h1 class="text-4xl border-b border-black pb-4">Search results for search string: '<%= @query %>'</h1>
  <ul>
    <% @books.each do |book| %>
      <li>
        <div class="flex justify-start items-center pt-4">
          <h2 class="text-2xl"><%= book.name %><h2>
          <%= link_to "Read", "/books/#{book.id}", class: "text-md bg-blue-600 text-white px-2 py-1 rounded-md ml-4" %>
        </div>
        <ul class="list-inside list-disc">
          <li><%= book.description %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</section>