<li>
  <%= article.name %>
  <%= link_to "edit", edit_book_article_path(@book, article), class: "pl-1 underline text-blue-600" %>
  <%= link_to "New subarticle", "/books/#{@book.id}/articles/#{article.id}/new", class: "underline text-blue-600" %>

  <% if article.has_children? %>
    <ul class="pl-4">
      <% article.subarticles.each do |subarticle| %>
        <%= render partial: 'article_tree_part', locals: {article: subarticle} %>
      <% end %>
    </ul>
  <% end %>
</li>
