<li id="reader-article-part-for-article-with-id-<%= article.id %>" class="reader-article-tree-parts">
  <span class="hover:bg-gray-200 cursor-pointer"><%= article.name %></span>
</li>

<% if article.has_children? %>
  <ul class="pl-4">
    <% article.subarticles.each do |subarticle| %>
      <%= render partial: 'reader_article_tree_part', locals: {article: subarticle} %>
    <% end %>
  </ul>
<% end %>