<div class="flex flex-row justify-between min-h-screen">
  
  <div class="bg-white border border-black shadow-md rounded-md m-4 p-4 w-fit h-fit">

    <h1 id="title-for-book-with-id-<%= @book.id %>" class="book-title text-center text-2xl border-b border-black pb-4 mb-4">
      <%= @book.name %>
    </h1>

    <ul>
      <% @book.top_level_articles.each do |top_level_article| %>
        <%= render partial: 'reader_article_tree_part', locals: {article: top_level_article} %>
      <% end %>
    </ul>

  </div>

  <div id="article-content-div" class="bg-white border border-black shadow-md rounded-md m-4 p-4 w-full">
    <%= @book.articles.first.content %>
  </div>

</div>

<script>
  const book_id = document.querySelector('.book-title').id.split('-')[5];
  const initial_article_id = document.querySelectorAll(".reader-article-tree-parts")[0].id.split('-')[7];
  let articleContentDiv = document.querySelector("#article-content-div");
  const readerArticleTreeParts = document.querySelectorAll(".reader-article-tree-parts");

  function loadArticleContent(book_id, article_id){
    let fetchResponsePromise = fetch(`/books/${book_id}/articles/${article_id}`)
    fetchResponsePromise
    .then(response => response.json())
    .then(function(data){
      articleContentDiv.innerText = data["content"]
    })
  }

  loadArticleContent(book_id, initial_article_id);

  readerArticleTreeParts.forEach(function(element) {
    element.addEventListener('click', function(){
      let article_id = element.id.split('-')[7];
      loadArticleContent(book_id, article_id);
    });
  });
</script>