<div class="bg-blue-600 p-4 flex flex-row justify-between align-middle shadow-md">
  <span class="text-white text-2xl">
    <%= link_to "Ankibooks2", '/' %>
  </span>

  <div class="text-white flex items-center justify-center">
    <% if logged_in? %>
      <%= button_to "Log out", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up", signup_path, class: "pr-4" %>
      <%= link_to "Log in", login_path %>
    <% end %>
  </div>
</div>