<div class="bg-blue-600 p-4 flex flex-row justify-between align-middle shadow-md">
  <div class="flex justify-start items-center">
    <%= link_to "AnkiBooks2", '/', class: "text-white text-2xl" %>
    <% if logged_in? %>
      <a href="/books" class="text-white ml-8 text-md">Dashboard</a>
    <% end %>
  </div>

  <div class="text-white flex items-center justify-center">
    <% if logged_in? %>
      <%= button_to "Log out", logout_path, method: :delete, id: "logout-button" %>
    <% else %>
      <%= link_to "Sign up", signup_path, class: "pr-4" %>
      <%= link_to "Log in", login_path %>
    <% end %>
  </div>
</div>